<div class="container"> 
    <form [formGroup]="loginForm" (submit)="loginUser()">
        <div>
            <label for="Email">Email: </label>
            <input type="text" 
            name="email" 
            placeholder="Email" 
            required="required"
            formControlName="email">
        </div>
        <div>
            <label for="Password">Password: </label>
            <input type="password" 
            name="password" 
            placeholder="Password" 
            required="required"
            formControlName="password">
        </div>
        <div>
            <button>Log in</button>
        </div>
        <div>
            Don't have an account? <a routerLink="/register">Register here</a>
        </div>
    </form>
</div>